/*Reset by Yahoo UI-----------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*Format----------------------------------------*/

A:link{color:#c10000;}
A:visited{color:#c10000;}
A:active{color:#e10000;}
A:hover{color:#e10000;}

*{
	color:#9ba29f;
	margin:0px;
	padding:0px;
	border-width:0px;
	border-style:solid;
	border-color:#5B5B5B;
	font-family:'Lucida Sans Unicode','Lucida Grande','Verdana','MS UI Gothic','sans-serif';
	font-weight:normal;
	letter-spacing:1px;
	line-height:1.5;
	text-decoration:none;
}

body{
	width:100%;
	height:100%;
	font-size:14px;
	background:#000000 url(images/background.jpg) no-repeat fixed center top;
	text-align:center;
}

strong{
    font-weight:bold;
}

img{
	margin:0px;
	padding:0px;
	max-width: 100%;
}

/*Block-----------------------------------------*/

#wrapper{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

#header{
	height:120px;
	padding-right:15px;
	background:url(images/neuelogo.png);
	background-repeat: no-repeat;
	text-align:right;
}

#header img{
	margin:77px 0px 0px 0px;
}

#menu{
	margin:10px 0px;
	padding-left:10px;
    font-size:12px;
}
#menulib{
    float:right;
}

#content{
	float:left;
	width:850px;
}

@media screen and (max-width:900px) {
	#side{
		width:135px;
		font-size:12px;
	}
}

@media screen and (min-width:900px) {
    
	#side{
		float:right;
		width:135px;
		font-size:12px;
	}
}

#footer{
	clear:both;
	margin-top:10px;
	padding:10px 0px 10px 10px;
	border-color:#4d514f;
	border-width:1px 0px 0px 0px;
}

.date{
	margin-bottom:10px;
	text-align:right;
}

.entry_body,.side_body{
	margin:0px 10px;
}

.writeback{
	margin-left:50px;
}

/*Tag-------------------------------------------*/

p{
	margin:5px 0 10px 0px;
}

.entry_body p{
	text-indent:1em;
	margin:5px 0px 15px 0px;
}

.entry_body .noindent{
	text-indent:0;
}

br{
	letter-spacing:0px;
}

h1{
	font-size:18px;
	width:650px;
	min-height:25px;
	background:url(images/brline.png) bottom no-repeat;
	margin:13px 0px 5px 0px;
	padding:0px 0px 6px 10px;
}

h2{
	border-style:double;
	font-size:18px;
	margin-top:30px;
	padding-left:5px;
	border-width:0px 0px 0px 4px;
}

h3{
	margin:13px 0px 10px 0px;
	border-color:#4d514f;
	border-width:0px 0px 1px 0px;
	text-align:center;
}

blockquote{
	width:450px;
	margin-left:50px;
	padding-left:20px;
	border-width:0px 0px 0px 1px;
}

.entry_body blockquote p{
	text-indent:0px;
}

ul{
	margin:0px 10px 3px 0px;
}
ul .children{
		margin-left:10px;
}

.entry_body ul{
	margin:5px 0px 10px 0px;
}

.entry_body li{
	margin-left:15px;
	font-size:14px;
	list-style-type:disc;
}

li{
	font-size:12px;
	list-style-type:none;
}

dl{
	margin:10px 0px;
}
dt{
	line-height:1;
	margin-top:5px;
}
dd{
	font-size:12px;
	margin-left:20px;
}

table{
    font-size:12px;
    border-width:1px;
    margin-bottom:2px;
    margin-top:2px;
}
tr{
}
td{
   padding: 3px;
   border-width:1px; 
}

embed{
	margin:5px 0px;
}

div.zoome object { width: 640px; height: 512px; }
div.zoome embed { width: 640px; height: 512px; } 

/*Form------------------------------------------*/

form{
	margin:20px 0px;
}

form dt{
	font-size:12px;
	margin-bottom:3px;
}

input,textarea{
	color:#9ba29f;
	font-size:12px;
	width:300px;
	height:21px;
	background-color:black;
	border-width:1px;
	border-style:solid;
	border-color:#2d2d2d;
	overflow:hidden;
}

textarea{
	overflow:auto;
	width:500px;
	height:80px;
}

.button{
	height:23px;
	width:150px;
	border-color:#646464 #2d2d2d #2d2d2d #646464;
	text-align="center";
	cursor:pointer;
}

.button:hover{
	color:#e10000;
	cursor:pointer;
}

.button:active {
	border-color:#2d2d2d #646464 #646464 #2d2d2d;
	color:#e10000;
	cursor:pointer;
}

.side_body form{
	margin:0px;
}

.side_body input{
	width:110px;
	filter:chroma(color=black);
}

.side_body .button{
	width:70px;
	margin:3px 0px 0px 0px;
}

pre {
  color: #000000;
  margin: 0;
  width: auto;
  float: none;
  clear: none;
  overflow: visible;
  font-size: 12px;
  line-height: 1.333;
  font-family:'Consolas', "Inconsolata", "Terminal", monospace;
}
